# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# Django secret settings
local_settings.py

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Static files collected
staticfiles/